/* colours */
/* Social media */
/* Payment Providers*/
/* landing pages */
.suggestions-container {
  margin: 1em 0;
  float: left;
  width: 100%; }
  @media (max-width: 991px) {
    .suggestions-container {
      margin: 0; } }
  .suggestions-container .suggestion-container,
  .suggestions-container .suggestions-header {
    height: 52px;
    margin-bottom: 16px;
    background: #fff;
    border: 1px solid #879369;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer; }
    .suggestions-container .suggestion-container a,
    .suggestions-container .suggestions-header a {
      padding-right: 0; }
    .suggestions-container .suggestion-container svg,
    .suggestions-container .suggestions-header svg {
      margin-right: 16px;
      fill: #879369;
      width: 9px;
      height: 24px; }
  .suggestions-container .suggestions-header {
    -ms-flex-align: start;
        align-items: flex-start;
    background: url("/Images/dnp/seasonal_gift_finder/fathers_day/tasting-sets.jpg") center left no-repeat;
    background-size: contain;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 119px;
    -ms-flex-pack: center;
        justify-content: center; }
    .suggestions-container .suggestions-header a {
      padding-left: 136px;
      height: 100%;
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-align: center;
          align-items: center;
      position: relative;
      -ms-flex-pack: justify;
          justify-content: space-between; }
    .suggestions-container .suggestions-header .copy-box {
      width: 87%; }
      .suggestions-container .suggestions-header .copy-box h2 {
        font-size: baseline(2.25);
        color: #ba4c1f;
        font-weight: bold;
        margin: 0;
        line-height: 2em; }
      .suggestions-container .suggestions-header .copy-box p {
        font-size: baseline(1.625);
        line-height: baseline(2.125);
        color: #000; }
    @media (max-width: 767px) {
      .suggestions-container .suggestions-header {
        height: 80px; }
        .suggestions-container .suggestions-header a {
          padding-left: 90px; }
        .suggestions-container .suggestions-header .copy-box {
          width: 83%; }
          .suggestions-container .suggestions-header .copy-box p {
            font-size: baseline(1.4);
            line-height: baseline(1.75); }
          .suggestions-container .suggestions-header .copy-box h2 {
            font-size: baseline(1.75);
            margin-top: 0.5em;
            line-height: baseline(3); } }
  .suggestions-container .suggestion-container {
    font-weight: bold; }
    .suggestions-container .suggestion-container .suggestion {
      color: #ba4c1f;
      width: 90%; }
    .suggestions-container .suggestion-container a {
      height: 100%;
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-align: center;
          align-items: center;
      padding-left: 16px; }
    .suggestions-container .suggestion-container svg {
      fill: #879369; }
    .suggestions-container .suggestion-container:hover {
      background-color: #ba4c1f; }
    .suggestions-container .suggestion-container:active {
      background-color: #dc6230; }
    .suggestions-container .suggestion-container:hover, .suggestions-container .suggestion-container:focus, .suggestions-container .suggestion-container:active {
      outline: none; }
      .suggestions-container .suggestion-container:hover .suggestion, .suggestions-container .suggestion-container:focus .suggestion, .suggestions-container .suggestion-container:active .suggestion {
        color: #fff; }
      .suggestions-container .suggestion-container:hover svg, .suggestions-container .suggestion-container:focus svg, .suggestions-container .suggestion-container:active svg {
        fill: #fff; }
