$screen-lg-max: 1199px;

$olive: #879369;
$grey: #2d1f13;
$orange: #ba4c1f;
$orange-alt: #dc6230;
$black: #000;
$white: #fff;

$question-border: $olive;
$question-bg: $white;
$question-border-deactivated: #a4a198;
$question-bg-deactivated: #dfdacf;

$gf-text-light: $orange;
$gf-text-light-alt: $orange-alt;
$gf-text-deactivated: #a4a198;
$gf-text-dark: $grey;
$gf-button-dark: $orange;
$gf-button-text: $white;

$gf-text-header: $orange;

$gf-results-img-bg: $white;
$gf-hero-bg: $white;
$gf-price-special: #529429;

$gf-tile-banner: $orange;
