@import url(../../../fonts/roboto/stylesheet.css);
/* colours */
/* Social media */
/* Payment Providers*/
/* landing pages */
#main-content.pageBgr {
  background: #fff; }

#main-content {
  overflow: hidden;
  position: relative; }

.gift-finder {
  /* colours */
  /* Social media */
  /* Payment Providers*/
  /* landing pages */
  /* colours */
  /* Social media */
  /* Payment Providers*/
  /* landing pages */
  /* colours */
  /* Social media */
  /* Payment Providers*/
  /* landing pages */
  color: #ba4c1f;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0 auto; }
  .gift-finder .questions {
    border-bottom-width: 1px;
    border-color: #879369;
    border-style: solid;
    padding: 32px 0 16px; }
    @media (min-width: 992px) {
      .gift-finder .questions {
        position: relative; } }
  .gift-finder .question {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-bottom: 16px; }
    .gift-finder .question h3 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: bold;
      color: #2d1f13;
      font-size: 13px;
      line-height: 13px;
      margin-bottom: 13px;
      text-align: center; }
      .gift-finder .question h3.disabled {
        opacity: 0.5; }
  .gift-finder .answers {
    border: 1px solid #879369;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16); }
    .gift-finder .answers.disabled {
      border-color: #a4a198; }
      .gift-finder .answers.disabled > div > div > div {
        color: #a4a198 !important; }
  .gift-finder .answer {
    cursor: pointer;
    display: block;
    height: 56px;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
    width: 100%; }
    .gift-finder .answer.is-answer {
      background-color: #35bc66;
      color: white;
      pointer-events: none; }
    .gift-finder .answer .answer-image {
      height: 56px;
      width: 56px;
      float: left;
      background-color: grey;
      margin-right: 16px; }
    .gift-finder .answer .answer-text {
      line-height: 56px;
      font-size: 18px;
      text-align: left; }
    .gift-finder .answer .fontello-angle-right {
      position: absolute;
      top: 0;
      right: 0;
      color: #dfdacf; }
      .gift-finder .answer .fontello-angle-right:before {
        font-size: 40px;
        line-height: 54px;
        margin: 0; }
  @media (min-width: 992px) {
    .gift-finder .question-enter {
      animation: bounceInRight 650ms; }
      .gift-finder .question-enter .fontello-angle-right {
        opacity: 0; }
    .gift-finder .crumbs-open .question-enter {
      animation-delay: 300ms; }
    .gift-finder .question-enter.question-enter-active .fontello-angle-right {
      opacity: 1;
      transition: opacity 250ms linear 650ms; }
    .gift-finder .question-leave {
      transform: translate3d(0, 0, 0); }
    .gift-finder .question-leave.question-leave-active {
      transform: translate3d(-3000px, 0, 0);
      transition: transform 300ms ease-in; }
      .gift-finder .question-leave.question-leave-active .fontello-angle-right {
        display: none; } }
  .gift-finder .results-wrapper {
    padding: 16px 0;
    position: relative; }
    .gift-finder .results-wrapper#Results .results.loading {
      min-height: 1000px; }
    @media (min-width: 992px) {
      .gift-finder .results-wrapper {
        padding: 32px 32px; } }
    .gift-finder .results-wrapper h2 {
      font-weight: bold;
      text-align: center;
      margin-bottom: 16px; }
      @media (min-width: 992px) {
        .gift-finder .results-wrapper h2 {
          margin-bottom: 32px; } }
    .gift-finder .results-wrapper .mom-spinner {
      position: absolute;
      width: 200px;
      height: 200px;
      top: 100px;
      left: 50%;
      margin-left: -100px; }
      @media (min-width: 992px) {
        .gift-finder .results-wrapper .mom-spinner {
          top: 20%; } }
  .gift-finder .results {
    opacity: 1; }
    .gift-finder .results .product {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      border-radius: 4px;
      overflow: hidden;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
      line-height: 24px;
      margin-bottom: 8px;
      border: 1px solid #879369;
      padding: 0; }
      .gift-finder .results .product.has-pick {
        border-color: #529429; }
      .gift-finder .results .product.has-discount {
        border-color: #ffb800; }
      .gift-finder .results .product.has-shipping {
        border-color: #d85b4d; }
      @media (min-width: 992px) {
        .gift-finder .results .product {
          min-height: 248px; } }
      @media (max-width: 767px) {
        .gift-finder .results .product {
          -ms-flex-direction: row;
              flex-direction: row; } }
      .gift-finder .results .product:hover {
        border-color: #dfdacf; }
      .gift-finder .results .product .product-copy {
        padding: 8px 12px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: justify;
            justify-content: space-between;
        -ms-flex-line-pack: start;
            align-content: flex-start;
        line-height: 110%; }
        @media (max-width: 767px) {
          .gift-finder .results .product .product-copy {
            padding: 0 8px 8px 8px; } }
        .gift-finder .results .product .product-copy .product-text {
          height: 3.5em;
          line-height: 16px;
          overflow: hidden; }
        .gift-finder .results .product .product-copy a {
          color: #000;
          height: 3em; }
        .gift-finder .results .product .product-copy a.mom-btn {
          font-family: "Roboto";
          font-style: normal;
          font-weight: bold;
          margin: 0 16px; }
        .gift-finder .results .product .product-copy a.mom-btn-buy {
          margin: 0 auto;
          margin-bottom: 8px;
          width: 100%;
          height: 3.2em; }
        @media (max-width: 767px) {
          .gift-finder .results .product .product-copy a.mom-btn-buy {
            width: 100%;
            margin-bottom: 0;
            min-width: auto; } }
        .gift-finder .results .product .product-copy a.product-text-2 {
          margin-bottom: 8px;
          display: block;
          height: 1em; }
          @media (min-width: 992px) {
            .gift-finder .results .product .product-copy a.product-text-2 {
              margin-bottom: 16px; } }
          .gift-finder .results .product .product-copy a.product-text-2 .price {
            padding-right: 0.5em; }
          .gift-finder .results .product .product-copy a.product-text-2.withPrevious .price {
            font-weight: bold;
            color: #529429;
            font-size: 16px; }
        .gift-finder .results .product .product-copy .product-box-rating-block {
          display: -ms-flexbox;
          display: flex;
          height: 1.75em;
          -ms-flex-line-pack: center;
              align-content: center; }
          .gift-finder .results .product .product-copy .product-box-rating-block .product-box-volabv {
            font-size: 12px;
            padding-left: 0.5em; }
          @media (max-width: 320px) {
            .gift-finder .results .product .product-copy .product-box-rating-block {
              height: 2.5em; }
              .gift-finder .results .product .product-copy .product-box-rating-block .product-box-volabv {
                float: left;
                padding-left: 0; } }
      .gift-finder .results .product:first-child .product-image-inner {
        border: none; }
    .gift-finder .results.loading {
      opacity: 0; }
  .gift-finder .product-image {
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    background: #fff; }
    @media (min-width: 768px) {
      .gift-finder .product-image {
        min-height: auto;
        height: 184px; } }
    @media (max-width: 767px) {
      .gift-finder .product-image {
        -ms-flex-direction: row;
            flex-direction: row;
        height: 184px; } }
    .gift-finder .product-image .product-image-inner {
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      display: -ms-flexbox;
      display: flex; }
      @media (min-width: 768px) {
        .gift-finder .product-image .product-image-inner {
          height: 184px;
          border: none; } }
      @media (max-width: 767px) {
        .gift-finder .product-image .product-image-inner {
          height: 184px; } }
      .gift-finder .product-image .product-image-inner:empty {
        width: 80%;
        height: 60vh;
        margin: 0 auto;
        display: block;
        background-color: #f6f6f6; }
        @media (min-width: 992px) {
          .gift-finder .product-image .product-image-inner:empty {
            width: 100%;
            height: 264px;
            border: none; } }
      .gift-finder .product-image .product-image-inner .special-banner {
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 30px;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        height: 28px;
        padding: 0 1em;
        border-radius: 0 0 4px 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: center;
            align-content: center;
        -ms-flex-pack: center;
            justify-content: center;
        text-transform: uppercase; }
      .gift-finder .product-image .product-image-inner > img {
        max-width: 90%;
        margin: 0 auto;
        max-height: 90%; }
        @media screen and (-ms-high-contrast: none) {
          .gift-finder .product-image .product-image-inner > img {
            height: 72%; } }
  .gift-finder .product-text:empty,
  .gift-finder .product-text-2:empty {
    text-align: center;
    display: block;
    width: 60%;
    margin: 0 auto; }
    @media (min-width: 992px) {
      .gift-finder .product-text:empty,
      .gift-finder .product-text-2:empty {
        width: 100%; } }
    .gift-finder .product-text:empty:before,
    .gift-finder .product-text-2:empty:before {
      content: '';
      height: 16px;
      width: 100%;
      background-color: #f6f6f6;
      display: inline-block; }
  .gift-finder .product-text:empty:after {
    content: '';
    height: 16px;
    width: 100%;
    background-color: #f6f6f6;
    display: inline-block; }
  .gift-finder .product-text-2:empty {
    margin-bottom: 16px; }
    .gift-finder .product-text-2:empty:before {
      width: 50%; }
  .gift-finder .empty-buy-button {
    width: 80%;
    height: 48px;
    background-color: #f6f6f6;
    margin-bottom: 16px;
    margin: 0 auto; }
    @media (min-width: 992px) {
      .gift-finder .empty-buy-button {
        width: 100%;
        margin-bottom: 0; } }
  .gift-finder .product-text {
    font-weight: bold;
    display: block;
    margin-top: 8px; }
    @media (min-width: 992px) {
      .gift-finder .product-text {
        height: 48px; } }
  .gift-finder .select-an-option {
    position: absolute;
    top: 10%;
    width: 238px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-left: -119px;
    left: 50%;
    color: #808080; }
  .gift-finder .view-more {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    height: 50px;
    width: 100%;
    border: 1px solid #879369;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;
    background: #fff url("/Images/dnp/seasonal_gift_finder/fathers_day/carat.png") 97% 50% no-repeat;
    color: #a28957;
    padding: 0 1em;
    margin-top: 1em; }
    .gift-finder .view-more:visited, .gift-finder .view-more:focus {
      color: #a28957;
      background-image: url("/Images/dnp/seasonal_gift_finder/fathers_day/carat.png"); }
    .gift-finder .view-more:active {
      background-color: #ba4c1f; }
    .gift-finder .view-more:hover {
      background-color: #879369; }
    .gift-finder .view-more:active, .gift-finder .view-more:hover {
      color: #fff;
      background-image: url("/Images/dnp/seasonal_gift_finder/fathers_day/carat-white.png"); }
    .gift-finder .view-more:active, .gift-finder .view-more:hover, .gift-finder .view-more:focus, .gift-finder .view-more:visited {
      outline: none; }
    @media (max-width: 767px) {
      .gift-finder .view-more {
        width: 95%;
        margin: 1em auto 0; } }
  .gift-finder h4.old-and-rare-header {
    background: #879369;
    height: 1px;
    margin: 2em auto 2em auto;
    text-align: center; }
    .gift-finder h4.old-and-rare-header span {
      font-family: "RobotoCondensed";
      font-style: normal;
      font-weight: bold;
      color: #ba4c1f;
      font-size: 26px;
      line-height: 26px;
      text-transform: uppercase;
      position: relative;
      top: -10px;
      background: #fff;
      padding: 0 2em; }
      @media (max-width: 767px) {
        .gift-finder h4.old-and-rare-header span {
          padding: 0 1em; } }
  .gift-finder .suggestions-container {
    margin: 1em 0;
    float: left;
    width: 100%; }
    @media (max-width: 991px) {
      .gift-finder .suggestions-container {
        margin: 0; } }
    .gift-finder .suggestions-container .suggestion-container,
    .gift-finder .suggestions-container .suggestions-header {
      height: 52px;
      margin-bottom: 16px;
      background: #fff;
      border: 1px solid #879369;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
      border-radius: 4px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-align: center;
          align-items: center;
      cursor: pointer; }
      .gift-finder .suggestions-container .suggestion-container a,
      .gift-finder .suggestions-container .suggestions-header a {
        padding-right: 0; }
      .gift-finder .suggestions-container .suggestion-container svg,
      .gift-finder .suggestions-container .suggestions-header svg {
        margin-right: 16px;
        fill: #879369;
        width: 9px;
        height: 24px; }
    .gift-finder .suggestions-container .suggestions-header {
      -ms-flex-align: start;
          align-items: flex-start;
      background: url("/Images/dnp/seasonal_gift_finder/fathers_day/tasting-sets.jpg") center left no-repeat;
      background-size: contain;
      -ms-flex-direction: column;
          flex-direction: column;
      height: 119px;
      -ms-flex-pack: center;
          justify-content: center; }
      .gift-finder .suggestions-container .suggestions-header a {
        padding-left: 136px;
        height: 100%;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-align: center;
            align-items: center;
        position: relative;
        -ms-flex-pack: justify;
            justify-content: space-between; }
      .gift-finder .suggestions-container .suggestions-header .copy-box {
        width: 87%; }
        .gift-finder .suggestions-container .suggestions-header .copy-box h2 {
          font-size: 18px;
          color: #ba4c1f;
          font-weight: bold;
          margin: 0;
          line-height: 2em; }
        .gift-finder .suggestions-container .suggestions-header .copy-box p {
          font-size: 13px;
          line-height: 17px;
          color: #000; }
      @media (max-width: 767px) {
        .gift-finder .suggestions-container .suggestions-header {
          height: 80px; }
          .gift-finder .suggestions-container .suggestions-header a {
            padding-left: 90px; }
          .gift-finder .suggestions-container .suggestions-header .copy-box {
            width: 83%; }
            .gift-finder .suggestions-container .suggestions-header .copy-box p {
              font-size: 11.2px;
              line-height: 14px; }
            .gift-finder .suggestions-container .suggestions-header .copy-box h2 {
              font-size: 14px;
              margin-top: 0.5em;
              line-height: 24px; } }
    .gift-finder .suggestions-container .suggestion-container {
      font-weight: bold; }
      .gift-finder .suggestions-container .suggestion-container .suggestion {
        color: #ba4c1f;
        width: 90%; }
      .gift-finder .suggestions-container .suggestion-container a {
        height: 100%;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-align: center;
            align-items: center;
        padding-left: 16px; }
      .gift-finder .suggestions-container .suggestion-container svg {
        fill: #879369; }
      .gift-finder .suggestions-container .suggestion-container:hover {
        background-color: #ba4c1f; }
      .gift-finder .suggestions-container .suggestion-container:active {
        background-color: #dc6230; }
      .gift-finder .suggestions-container .suggestion-container:hover, .gift-finder .suggestions-container .suggestion-container:focus, .gift-finder .suggestions-container .suggestion-container:active {
        outline: none; }
        .gift-finder .suggestions-container .suggestion-container:hover .suggestion, .gift-finder .suggestions-container .suggestion-container:focus .suggestion, .gift-finder .suggestions-container .suggestion-container:active .suggestion {
          color: #fff; }
        .gift-finder .suggestions-container .suggestion-container:hover svg, .gift-finder .suggestions-container .suggestion-container:focus svg, .gift-finder .suggestions-container .suggestion-container:active svg {
          fill: #fff; }
  .gift-finder h1 {
    display: block;
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #45423c; }
    @media (min-width: 992px) {
      .gift-finder h1 {
        font-size: 40px; } }
  .gift-finder h3.gift-finder-title {
    background: #879369;
    height: 1px;
    margin-top: 2em;
    text-align: center; }
    .gift-finder h3.gift-finder-title span {
      font-family: "RobotoCondensed";
      font-style: normal;
      font-weight: bold;
      color: #ba4c1f;
      font-size: 26px;
      line-height: 26px;
      text-transform: uppercase;
      position: relative;
      z-index: 10;
      padding: 0 0.75em 0 2.5em;
      background: #fff url("/Images/dnp/icons/icon-gift-2020.svg") 28px center no-repeat;
      background-size: 23px auto;
      top: -12px; }
      @media (max-width: 767px) {
        .gift-finder h3.gift-finder-title span {
          background-position-x: 11px;
          background-size: 17px auto;
          font-size: 20px;
          padding: 0 0.45em 0 1.75em; } }
  .gift-finder a {
    color: #45423c;
    transition: none; }
    .gift-finder a.btn-find-a-gift {
      font-family: "RobotoCondensed";
      font-style: normal;
      font-weight: bold;
      background: linear-gradient(0deg, #8e3a18 0%, #dc6230 100%);
      border: 1px solid #ba4c1f;
      border-radius: 8px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      color: #fff;
      line-height: 38px;
      font-size: 16px;
      text-align: center;
      height: 40px;
      cursor: pointer;
      max-width: 400px;
      margin: 26px auto 0; }
  .gift-finder .layout-header {
    position: relative;
    text-align: center; }

.giftfinder-loading {
  font-family: sans-serif;
  font-size: 24px;
  padding-top: 80px;
  text-align: center; }
  @media (min-width: 992px) {
    .giftfinder-loading {
      height: 1104px; } }
  .giftfinder-loading .mom-spinner {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    margin-bottom: 16px; }

div .admin-checkbox {
  display: inline-block;
  vertical-align: middle; }

.product-add-box {
  margin: auto;
  display: table; }
  .product-add-box select,
  .product-add-box input {
    width: 100px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    margin: 6px; }

.mt-1 {
  margin-top: 1em; }

.hero {
  background-color: none;
  height: 635px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin-bottom: 1em;
  width: 100%;
  background-image: url("/Images/dnp/seasonal_gift_finder/fathers_day/fd-hero-wide.jpg");
  background-position: 54% 71%;
  background-repeat: no-repeat;
  background-size: 154% auto;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }
  .hero .inner-hero {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
  .hero .hero-image {
    min-height: 420px;
    display: none; }
  .hero .seasonal-copy {
    -ms-flex-line-pack: center;
        align-content: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    padding: 24px 1em;
    height: auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
    background: rgba(255, 255, 255, 0.75); }
    .hero .seasonal-copy header p,
    .hero .seasonal-copy header h1 {
      text-align: center; }
    .hero .seasonal-copy header h1 {
      font-family: "RobotoCondensed";
      font-style: normal;
      font-weight: bold;
      color: #dc6230;
      font-size: 72px;
      line-height: 72px;
      margin: 8px 0;
      text-transform: uppercase;
      display: block; }
      .hero .seasonal-copy header h1 span {
        text-shadow: -1px -1px 0 #ba4c1f, 1px -1px 0 #ba4c1f, -1px 1px 0 #ba4c1f, 1px 1px 0 #ba4c1f, 3px 3px 0 #000; }
      .hero .seasonal-copy header h1 p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        color: #000;
        font-size: 24px;
        line-height: 32px;
        margin: 0;
        text-transform: none;
        margin: 8px 0;
        padding: 0 24px; }
    .hero .seasonal-copy .date {
      border-top: 1px solid #879369;
      border-bottom: 1px solid #879369;
      margin-bottom: 1em;
      text-align: center; }
      .hero .seasonal-copy .date span {
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        color: #000;
        font-size: 16px;
        line-height: 36px;
        position: relative;
        padding: 0 2em; }
  @media (max-width: 1199px) {
    .hero {
      height: 435px;
      background-position: 52% 72%;
      background-size: 217% auto; }
      .hero .hero-image-container {
        background-position: 50% bottom;
        background-size: 623px auto; }
      .hero .seasonal-copy {
        -ms-flex-line-pack: center;
            align-content: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: start;
            justify-content: flex-start; }
        .hero .seasonal-copy .date {
          margin-bottom: 0; }
          .hero .seasonal-copy .date span {
            font-size: 12px;
            line-height: 24px; }
        .hero .seasonal-copy header h1 {
          font-size: 52px;
          line-height: 64px; }
          .hero .seasonal-copy header h1 p {
            font-size: 18px;
            line-height: 24px;
            padding: 0 8px; } }
  @media (max-width: 480px) {
    .hero {
      height: 650px;
      background-position: center bottom;
      background-size: 100% auto;
      background-image: url("/Images/dnp/seasonal_gift_finder/fathers_day/fd-hero-tight.jpg");
      -ms-flex-pack: start;
          justify-content: flex-start; }
      .hero .seasonal-copy {
        margin-top: 1em;
        -ms-flex-line-pack: center;
            align-content: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: start;
            justify-content: flex-start;
        height: auto;
        padding-top: 24px; }
        .hero .seasonal-copy header h1 {
          font-size: 56px; } }

.promo-hero {
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-top: 1em; }
  .promo-hero img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    border-color: transparent;
    border-width: 1px; }

.gift-finder-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
  height: 44px;
  width: 100%;
  border: 1px solid #dc6230;
  border-radius: 8px;
  background: linear-gradient(0deg, #8e3a18 0%, #dc6230 100%);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  outline: none;
  cursor: pointer; }
  .gift-finder-button:hover {
    background: linear-gradient(180deg, #e68e6a 0%, #c85222 100%); }
  .gift-finder-button:active {
    background: linear-gradient(0deg, #e68e6a 0%, #c85222 100%);
    outline: none; }
  .gift-finder-button:visited, .gift-finder-button:focus {
    outline: none; }

.promo-tiles img {
  width: 100%;
  height: auto; }

.promo-tiles .tile-banner {
  background: #ba4c1f;
  color: #fff;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: -6px;
  padding: 0.5em 0;
  font-weight: bold; }
